<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css">
    <!-- self css -->
    <link rel="stylesheet" type="text/css" href="/style.css">

    <title>eKir - Riwayat</title>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
      <a class="navbar-brand" href="/">
        <img src="/warna.png" width="30" height="30" class="d-inline-block align-top" alt="">
        e-KIR Kapal
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/form">Form</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/riwayat">Riwayat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
        <% 
        if(messages.success){
          %>
          <div class="alert alert-success" role="alert">
            <%= messages.success %>
          </div>
        <%
        }
      %>
      <h2 class="text-center">RIWAYAT PENGECEKAN KAPAL</h2>

      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Kapal</th>
            <th scope="col">Tanggal Pengecekan</th>
            <th scope="col">Hasil pengecekan</th>
            <th scope="col" colspan="2">Rincian</th>
          </tr>
        </thead>
        <tbody>
          <% 
          
          if(data.length){ %>
            <p><%= data[0].namaKapal %></p>
          <% } %>

          <% 
            data = JSON.parse(data)
            data.forEach((item,index) => {
              let tanggal = new Date(item.tanggalPeriksa)
              %>
              <tr class="table-item">
                <th scope="row"><%= index+1 %></th>
                <td><%= item.namaKapal %></td>
                <td><%= tanggal.getUTCDate()+ "-" + (tanggal.getMonth()+1) + "-" + tanggal.getFullYear()%></td>
                <td>
                  <%
                    if(item.hasil){
                      %> Lulus
                    <%} else {
                      %> Tidak lulus
                    <%}
                  %>
                </td>
                <td><a href="/info-hasil-periksa/<%= item._id %>"><i class="fas fa-info-circle"></i></a></td>
              </tr>
          <% 
            })%>
        </tbody>
      </table>
    </div>
    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
  </body>
</html>